section.home {
	background:
		linear-gradient(rgba(31, 33, 51, 0.4), rgba(11, 13, 35, 0.4)),
		url('../imgs/bg-1.jpg') center/cover fixed no-repeat;
}
section.contact {
	background:
		linear-gradient(rgba(31, 33, 51, 0.4), rgba(11, 13, 35, 0.4)),
		url('../imgs/bg-4.jpg') center/cover fixed no-repeat;
}
section.facilities {
	background:
		linear-gradient(rgba(31, 33, 51, 0.4), rgba(11, 13, 35, 0.4)),
		url('../imgs/bg-3.jpg') center/cover fixed no-repeat;
}
section.booking {
	background:
		linear-gradient(rgba(31, 33, 51, 0.4), rgba(11, 13, 35, 0.4)),
		url('../imgs/bg-2.jpg') center/cover fixed no-repeat;
}
section.covid {
	background:
		linear-gradient(rgba(31, 33, 51, 0.4), rgba(11, 13, 35, 0.4)),
		url('../imgs/bg-6.jpg') center/cover fixed no-repeat;
}
section.rooms {
	background:
		linear-gradient(rgba(31, 33, 51, 0.4), rgba(11, 13, 35, 0.4)),
		url('../imgs/bg-2.jpg') center/cover fixed no-repeat;
}
ul.footer-links a:hover {
	text-decoration: underline !important;
	color: #FF450C;
}
.def-links:hover {
	text-decoration: underline !important;
	color: #FF450C;
}
hr.footer-hr {
	border: 2px solid #000;
	width: 100%;
}
.logo {
	max-height: 100px;

}
.social-svgs {
	max-width: 20px;
}
 